In [3]:
import pandas as pd
import numpy as np

In [7]:
#!pip install kaggle
!kaggle competitions download -c el-algoritmo-es-correcto

Downloading el-algoritmo-es-correcto.zip to E:\Habi Competition

  0%|          | 0.00/7.24M [00:00<?, ?B/s]
 14%|#3        | 1.00M/7.24M [00:01<00:11, 558kB/s]
 28%|##7       | 2.00M/7.24M [00:04<00:10, 505kB/s]
 41%|####1     | 3.00M/7.24M [00:06<00:08, 523kB/s]
 55%|#####5    | 4.00M/7.24M [00:09<00:07, 458kB/s]
 69%|######9   | 5.00M/7.24M [00:11<00:05, 466kB/s]
 83%|########2 | 6.00M/7.24M [00:12<00:02, 515kB/s]
 97%|#########6| 7.00M/7.24M [00:15<00:00, 469kB/s]
100%|##########| 7.24M/7.24M [00:15<00:00, 593kB/s]
100%|##########| 7.24M/7.24M [00:15<00:00, 481kB/s]

In [41]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')
example = pd.read_csv('example_submission.csv')

id                         int64
area                     float64
ascensor                 float64
balcon                   float64
banos                    float64
banoservicio             float64
conjuntocerrado            int64
cuartoservicio           float64
deposito                 float64
estrato                  float64
estudio                  float64
garajes                  float64
gimnasio                 float64
habitaciones             float64
halldealcobas            float64
parqueaderovisitantes    float64
piscina                  float64
piso                     float64
porteria                 float64
remodelado               float64
saloncomunal             float64
terraza                  float64
tiempodeconstruido        object
vigilancia               float64
vista                     object
zonalavanderia           float64
valoradministracion      float64
valorventa               float64
tipoinmueble              object
tiponegocio               object
latitud                  float64
longitud                 float64
dtype: object

In [131]:
dummy_var = ['ascensor','balcon','conjuntocerrado','cuartoservicio','deposito','estudio','gimnasio',
            'halldealcobas','parqueaderodevisitantes','piscina','porteria','remodelado','saloncomunal',
            'terraza','vigilancia','vista','zonalavanderia']

float_var = ['area','banos','banoservicio','estrato','garajes','habitaciones','piso','valoradministracion',
            'valorventa']

0

In [101]:
train_data[train_data['parqueaderovisitantes']==0]

,id,area,ascensor,balcon,banos,banoservicio,conjuntocerrado,cuartoservicio,deposito,estrato,...,tiempodeconstruido,vigilancia,vista,zonalavanderia,valoradministracion,valorventa,tipoinmueble,tiponegocio,latitud,longitud
108254,403313,162.0,NaN,NaN,4.0,NaN,0,NaN,NaN,3.0,...,NaN,0.0,Exterior,1.0,0.0,550000000.0,Casa,Venta,4.58103,-74.168307

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
244483   NaN
244484   NaN
244485   NaN
244486   NaN
244487   NaN
Name: parqueaderovisitantes, Length: 244488, dtype: float64

In [70]:
# columns = train_data.columns.tolist()
# float_columns = columns[1:6] + columns[7:22]+columns[25:28]+columns[-2:]
# float_columns.append('vigilancia')
# string_columns = ['tiempodeconstruido','vista','tipoinmueble','tiponegocio']
# int_column = ['conjuntocerrado']
#train_data[float_columns] = train_data[float_columns].fillna(0)